breathe==4.24.1
cookiecutter==1.7.2
jsonschema==3.2.0
PyGithub==1.54
pytest==5.4.3
pytest-cookies==0.5.1
pytest-virtualenv==1.7.0
python-gitlab==2.5.0
pytools==2020.4.3
requests==2.24.0
ruamel.yaml==0.16.12
sphinx==3.3.1
sphinx_rtd_theme==0.5.0