name: CI

on:
  # We run CI on pushes to the main branch
  push:
    branches:
      - main
  # and on all pull requests to the main branch
  pull_request:
    branches:
      - main
  # as well as upon manual triggers through the 'Actions' tab of the Github UI
  workflow_dispatch:

jobs:
  build-and-test:
    name: Testing on ${{ "{{matrix.os}}" }}
    runs-on: ${{ "{{matrix.os}}" }}
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-10.15, windows-2019]

    steps:
    - uses: actions/checkout@v2
{% if cookiecutter.use_submodules == "Yes" %}
      with:
        submodules: 'recursive'
{%- endif %}

{% if cookiecutter.use_submodules == "No" %}
    - name: Install Catch2 (Linux + MacOS)
      if: runner.os != 'Windows'
      run: |
        git clone -b v2.13.3 https://github.com/catchorg/Catch2.git
        cd Catch2
        mkdir build
        cd build
        cmake -DBUILD_TESTING=OFF  ..
        sudo cmake --build . --target install

    - name: Install Catch2 (Windows)
      if: runner.os == 'Windows'
      run: |
        git clone -b v2.13.3 https://github.com/catchorg/Catch2.git
        cd Catch2
        mkdir build
        cd build
        cmake -DBUILD_TESTING=OFF  ..
        cmake --build . --target install
{% if cookiecutter.python_bindings == "Yes" %}
    - name: Install Pybind11 (Linux + MacOS)
      if: runner.os != 'Windows'
      run: |
        git clone -b v2.6.1 https://github.com/pybind/pybind11.git
        cd pybind11
        mkdir build
        cd build
        cmake -DBUILD_TESTING=OFF  ..
        sudo cmake --build . --target install

    - name: Install Pybind11 (Windows)
      if: runner.os == 'Windows'
      run: |
        git clone -b v2.6.1 https://github.com/pybind/pybind11.git
        cd pybind11
        mkdir build
        cd build
        cmake -DBUILD_TESTING=OFF  ..
        cmake --build . --target install
{%- endif %}
{%- endif %}

    - name: make build directory
      run: cmake -E make_directory ${{ "{{runner.workspace}}" }}/build

    - name: configure cmake
      shell: bash
      working-directory: ${{ "{{runner.workspace}}" }}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=Debug

    - name: build
      shell: bash
      working-directory: ${{ "{{runner.workspace}}" }}/build
      run: cmake --build .

    - name: run tests
      shell: bash
      working-directory: ${{ "{{runner.workspace}}" }}/build
      run: ctest
