name: CI

on:
  # We run CI on pushes to the main branch
  push:
    branches:
      - main
  # and on all pull requests to the main branch
  pull_request:
    branches:
      - main
  # as well as upon manual triggers through the 'Actions' tab of the Github UI
  workflow_dispatch:
  # Additionally, we run Monday morning 6AM, so that we can react quickly if things break
  schedule:
  - cron: "0 5 * * 1"

jobs:
  test:
    name: Testing on ${{ matrix.os }} with Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-10.15, windows-2019]
        python-version: [3.6, 3.7, 3.8]

    steps:
    - name: Checking out the cookie cutter repository
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install tox tox-gh-actions

    - name: Install Doxygen (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get install -y doxygen

    - name: Install Doxygen (MacOS)
      if: runner.os == 'macOS'
      run: |
        brew install doxygen

    - name: Install Doxygen (Windows)
      if: runner.os == 'Windows'
      run: |
        choco install -y doxygen.install

    - name: Install Catch2 (Linux + MacOS)
      if: runner.os != 'Windows'
      run: |
        git clone -b v2.13.3 https://github.com/catchorg/Catch2.git
        cd Catch2
        mkdir build
        cd build
        cmake -DBUILD_TESTING=OFF  ..
        sudo cmake --build . --target install

    - name: Install Catch2 (Windows)
      if: runner.os == 'Windows'
      run: |
        git clone -b v2.13.3 https://github.com/catchorg/Catch2.git
        cd Catch2
        mkdir build
        cd build
        cmake -DBUILD_TESTING=OFF  ..
        cmake --build . --target install

    - name: Set up git identity
      run: |
        git config --global user.email "ssc@citestuser.com"
        git config --global user.name "SSC CI Test User"

    - name: Set up Windows git configuration
      if: runner.os == 'Windows'
      run: |
        git config --system core.longpaths true

    - name: Test with tox
      run: |
        tox "-m local"

  deploy-test:
    name: Deploying to hosters and run their CI
    runs-on: ubuntu-18.04

    steps:
    - name: Checking out the cookie cutter repository
      uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install test dependencies
      run: |
        pip install tox tox-gh-actions

    - name: Set up git identity
      run: |
        git config --global user.email "ssc@citestuser.com"
        git config --global user.name "SSC CI Test User"

    - name: Set up SSH Agent to deploy to test repositories
      uses: webfactory/ssh-agent@v0.4.1
      with:
        ssh-private-key: |
          ${{ secrets.GHA_TEST_PRIVATE_KEY }}

    - name: Add gitlab.com to the list of known hosts
      run: |
        echo "gitlab.com ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCsj2bNKTBSpIYDEGk9KxsGh3mySTRgMtXL583qmBpzeQ+jqCMRgBqB98u3z++J1sKlXHWfM9dyhSevkMwSbhoR8XIq/U0tCNyokEi/ueaBMCvbcTHhO7FcwzY92WK4Yt0aGROY5qX2UKSeOvuP4D6TPqKF1onrSzH9bx9XUf2lEdWT/ia1NEKjunUqu1xOB/StKDHMoX4/OKyIzuS0q/T1zOATthvasJFoPrAjkohTyaDUz2LN5JoH839hViyEG82yB+MjcFV5MU3N1l1QL3cVUCh93xSaua1N85qivl+siMkPGbO5xR/En4iEY6K2XPASUEMaieWVNTRCtJ4S8H+9" >> ~/.ssh/known_hosts

    - name: Test deploying the baked project to Github + Gitlab.com
      run: |
        tox "-m deploy"

    - name: Run tests for upstream integrations
      env:
        CODECOV_GH_API_ACCESS_TOKEN: ${{ secrets.CODECOV_GH_API_ACCESS_TOKEN }}
        CODECOV_GL_API_ACCESS_TOKEN: ${{ secrets.CODECOV_GL_API_ACCESS_TOKEN }}
        GH_API_ACCESS_TOKEN: ${{ secrets.GH_API_ACCESS_TOKEN }}
        GL_API_ACCESS_TOKEN: ${{ secrets.GL_API_ACCESS_TOKEN }}
        RTD_API_ACCESS_TOKEN: ${{ secrets.RTD_API_ACCESS_TOKEN }}
      run: |
        tox "-m -m integrations"
